<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration globale de niveau de log -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Configuration spécifique d'un package ou d'un composant -->
<logger name="org.apache.kafka" level="WARN" />><!--level="WARN"/> -->

</configuration>
