<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omega Alerts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<input type="hidden" id="userEmail" value="${userEmail}">

<header class="header">
    <div class="header-logo">
        <img src="/images/a-clean-modern-logo-for-an-omega-alerts-service-th-teRc4vyUROqILbBJuSB7wQ-kxVs_jmHQy2iioc8rW7KHg-removebg-preview.png" alt="Logo Omega Alerts">
        <span>OMEGA ALERTS</span>
    </div>
    <div>
        <form method="post" action="/receive-address">
        <input type="text" name="address" placeholder="Entrez l'adresse du serveur" pattern="^(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(\.(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])){3}(:\d{1,5})?$" title="Entrez une adresse de serveur valide" required>
            <button type="submit">Connecter</button>
        </form>
    </div>
</header>

<div class="main">
    <div class="main-header">
        <div>
            <h1>Consulter vos alertes</h1>
            <p>Soyez informés sur vos thèmes favoris</p>
        </div>
        <img name="airplane-icon" src="/images/avion-en-papier.png" alt="" height="100">
    </div>

    <div class="search-bar">

        <input id="interestInput" type="text" placeholder="rechercher un thème">
        <button id="searchButton" type="submit">🔍</button>
    </div>

    <div class="content">
        <aside class="sidebar">
            <h2>Liste des Topics Abonnés</h2>
            <!-- Section HTML où seront affichés les topics -->
                         <!-- Liste des topics avec un ID pour les manipulations dynamiques -->

            <ul id="topic-list">
                    <!-- Les topics récupérés depuis le backend seront insérés ici -->
                </ul>


        </aside>


        <section class="alert-list">
            <section class="alert-list">
                <!-- Les alert-cards seront générées dynamiquement ici -->
            </section>

        </section>
        <!-- Ajouter votre lien vers le fichier JS -->
        <script src="/js/home.js"></script>
    </div>
</div>
</body>
</html>
