<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producer Interface</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/producer.css">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <img src="/images/a-clean-modern-logo-for-an-omega-alerts-service-th-teRc4vyUROqILbBJuSB7wQ-kxVs_jmHQy2iioc8rW7KHg-removebg-preview.png" alt="Producer Logo">
        <span>Producer Interface</span>
    </div>
    <div>
        <span>Bienvenu(e) utilisateur <span th:text="${session.username}"></span></span>
        <form method="get" action="/">
            <button class="btn-logout" >Déconnexion</button>
        </form>
    </div>
</header>

<div class="main">
    <!-- Statut de connexion -->
    <div class="connection-status">
        <p id="status-message">Statut : Non connecté</p>
        <!--<div>
            <input type="text" id="serverAddress" placeholder="Adresse du serveur Kafka">
            <button id="connectButton">Se connecter</button>
        </div>-->
    </div>

    <!-- Formulaire pour envoyer un message -->
    <h1>Envoyer un Message</h1>
    <form id="producer-form">
        <!-- Sélection ou création du topic -->
        <div class="form-group">
            <label for="existingTopic">Topic existant :</label>
            <select id="existingTopic" name="existingTopic">
                <option value="">Sélectionnez un topic existant</option>
                <!-- Les topics seront chargés dynamiquement ici -->
            </select>
        </div>

        <!-- Champs pour le message -->
        <div class="form-group">
            <label for="titre">Le titre fr votre publication</label>
            <input type="text" id="titre" name="link" placeholder="Entrez le titre">
        </div>

        <div class="form-group">
            <label for="newTopic">Ou créer un nouveau topic :</label>
            <input type="text" id="newTopic" name="newTopic" placeholder="Nom du nouveau topic">
        </div>

        <!-- Champs pour le message -->
        <div class="form-group">
            <label for="message">Message :</label>
            <textarea id="message" name="message" rows="4" placeholder="Entrez votre message ici"></textarea>
        </div>

        <button type="submit">Envoyer</button>
    </form>
</div>
<script src="/js/producer.js"></script>
</body>
</html>
