<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omega Alerts - Publisher Interface</title>
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <img src="/images/a-clean-modern-logo-for-an-omega-alerts-service-th-teRc4vyUROqILbBJuSB7wQ-kxVs_jmHQy2iioc8rW7KHg-removebg-preview.png" alt="Logo Omega Alerts">
        <span>OMEGA ALERTS - PUBLISHER</span>
    </div>
    <div>
        <form method="post" action="#" id="connect-publisher-form">
            <button type="button" id="connectButton">Se connecter</button>
        </form>
    </div>
</header>

<div class="main">
    <div class="main-header">
        <div>
            <h1>Gestion des Topics</h1>
            <p>Créez et gérez vos sujets de publication facilement.</p>
        </div>
        <img name="topics-icon" src="/images/topics.png" alt="Icone Topic" height="100">
    </div>

    <div class="connection-status">
        <p id="status-message">Statut : Non connecté</p>
    </div>

    <div class="create-topic">
        <form method="post" action="#" id="create-topic-form">
            <input type="text" name="topicName" placeholder="Nom du Topic" required>
            <input type="hidden" name="serverAddress" id="serverAddressInput">
            <button type="button" id="createTopicButton">Créer un Topic</button>
        </form>
    </div>

    <div class="created-topics">
        <h2>Topics Créés</h2>
        <ul id="topic-list">
            <!-- Liste des topics créés s'affichera ici -->
        </ul>
    </div>
</div>

<script src="/js/publisher.js"></script>
</body>
</html>